.container {
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 5px;
    min-width: 30px;
}

.btn-ac {
    min-width: 60px !important;
}

.input {
    padding: 5px;
}

@media only screen and (min-width: 600px) {
    .container {
        background: blue;
    }
    
}

@media only screen and (min-width: 250px) {
    .container {
        background: green;
    }
}